<head>
    <link rel="stylesheet" href="/public/main.css">
    <title>Edit a todo</title>
</head>

<form action="/update/:id" method="POST">
    <!-- name="text" = ska vara samma som i schema -->
    <input type="text" name="text" value="<%=updateSingelTodo.text %>" required>
    <input type="text" name="id" value="<%= updateSingelTodo._id %>" hidden>
    <button type="submit">Update todo</button>
</form>