<!-- includera header.ejs -->
<%- include("header.ejs") %> 
<body>
    <button class="btnHide" onclick="handleClick()">Hide  div</button>
    <div class="mainDiv">
        <h1>My todo list</h1>
    </div>
    <div class="mainDiv" id="mainDiv">
        <!-- Loopa igenom allTodo -->
        <% allTodos.forEach((oneTodo) => { %>
        <div class="todoText"> <%= oneTodo.text %> 
            <br>
        <button><a href="/update/<%=oneTodo._id %>">Update todo</a></button>
        <button><a href="/delete/<%=oneTodo._id %>">Delete todo</a></button>

        </div>
        <% }) %> 

        <form action="/todos" method="post">
            <input type="text" name="text" placeholder="My new todo">
            <button type="submit">Add to list</button>
        </form>
    </div>
</body>

</html> 