body {
    background-image: url(/public/img/Bergen2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

button{
    color: red;
}

.mainDiv{
    margin: auto;
    text-align: center;
    border: solid grey 1px;
    border-radius: 5px;
    box-shadow:  0px 0px 28px gray;
    width: 50%;
    padding: 20px;
    margin-top: 30px;
    background-color: white;
}